:root {
  --spotify-primary: #1db954;
  --spotify-bg: #121212;
  --spotify-grey: #535353;
  --spotify-lgrey: #b3b3b3;
  --spotify-dgrey: #212121;
}

body {
  /* height: 100vh; */
  /* display: flex; */
}

.App {
  height: 100vh;
}

.main {
  display: flex;
  height: 90vh;
  width: 100%;
}

.bottom {
  height: 10vh;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* ::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar {
  width: 10px;
} */

::-webkit-scrollbar-track {
  background-color: var(--spotify-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--spotify-grey);
}
::-webkit-scrollbar {
  width: 0.4em;
}
